.all-features {
  display: flex;
  flex-direction: column;
  height: 100%;

  > .rdg {
    flex: 1;
  }
}

.highlight .rdg-cell {
  background-color: #9370DB;
  color: white;
}

.highlight:hover .rdg-cell {
  background-color: #800080;
}

.load-more-rows-tag {
  width: 180px;
  padding: 8px 16px;
  position: absolute;
  bottom: 8px;
  right: 8px;

  color: white;
  line-height: 35px;
  background: rgba(0, 0, 0, 0.6);
}

body, html {
  padding: 0 !important;
  margin: 0 !important;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  padding: 8px;
}

.fill-grid {
  height: 100%;
}

.small-grid {
  height: 300px;
}

.big-grid {
  height: 600px;
}

:root {
  @media (prefers-color-scheme: light) {
    background-color: #fff;
    color: #111;
  }

  @media (prefers-color-scheme: dark) {
    background-color: #111;
    color: #fff;
  }
}